/* Reset de margins y paddings */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Módulos reutilizables */

.font-altee { font-family: $font-family-title; }

.contenedor {
  width: 80%;
  margin: auto;
}

.contenedor-sm {
  width: 70%;
  margin: auto;
  @media (max-width: 576px) {
    width: 90%;
  }
}

.img-portada {
  width: 100%;
  height: auto;
}

/* Página de inicio */

header { background-color: black; }

@supports (display:grid) {
  header { background-color: transparent; }

  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 2fr 1fr 5fr 1fr;
    width: 100%;
  }

  .header-grid {
    grid-row: 1;
    grid-column: 2 / 6;
  }

  .picture-grid {
    grid-row: 1 / 4;
    grid-column: 1 / 7;
  }

  h1 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    align-self: center;
    justify-self: center;
    font-size: 8rem;
    color: $yellow-400;
  }

  .blanco {
    grid-row: 3 / 5;
    grid-column: 1 / 4;
    background-color: $white;
  }

  .info-grid {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    padding-top: 30px;
    padding-right: 50px;
    background-color: $white;
  }

  .btn-grid {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  @media (max-width: 768px) {
    .picture-grid { grid-column: 1 / 7; }

    h1 {
      grid-row: 3 / 4;
      grid-column: 1 / 7;
    }

    .blanco{ grid-row: 4 / 5; }

    .info-grid {
      grid-row: 4 / 5;
      grid-column: 2 / 7;
    }

    .btn-grid {
      grid-row: 5 / 6;
      grid-column: 2 / 5;
    }
  }
}

/* Página componentes */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 32%;
  @media (min-width: 577px) and (max-width: 768px) {
    width: 49%;
  }
  @media (max-width: 576px) {
    width: 100%;
  }
}

/* Página de biografía */

.contenedor-txt-imagen {
  position: relative;
  display: inline-block;
  text-align: center;
}

.txt-imagen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}

.blockquote {
  width: 35%;
  @media (max-width: 576px) {
    width: 100%;
  }
}

.blockquote-p {
  width: 60%;
  @media (max-width: 576px) {
    width: 100%;
  }
}

