/* Reset de margins y paddings */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Bloques principales: */

html {
  font-family: $font-family-text;
  font-size: 16px;
}

body {
  font-family: $font-family-text;
  font-size: 16px;
  line-height: 26px;
  background-color: $sm-bg;
}

header {
  display: flex;
  margin: auto;
  background-color: $sm-dark-blue;
}

h1 {
  font-family: $font-family-title;
  font-size: 1.8rem;
}

a {
  color: $sm-bg;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:hover {
  color: $sm-blue;
  text-decoration: none;
}

footer {
  padding-top: 20px;
  padding-bottom: 80px;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  background-color: $sm-dark-blue;
}

/* Colores de fondo de secciones */

.bio,
.aptitudes {
  background-color: $sm-blue;
}

.experiencia,
.idiomas {
  background-color: $sm-light-blue;
}

.educacion,
.intereses {
  background-color: $sm-bg;
}

/* Módulos reutilizables */

.modulo-dark-blue {
  width: 90%;
  margin: auto;
  color: $sm-bg;
}

.modulo-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.2rem;
  color: $sm-bg;
  @media (max-width: $mqMinWidth) {
    display: block;
    width: 95%;
  }
}

.modulo-light {
  width: 55%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  @media (max-width: $mqMinWidth) {
    width: 90%;
  }
}

.menu-listado {
  display: flex;
  list-style: none;
}

.txt-blanco {
  color: $sm-bg;
}

.txt-cv {
  padding-top: 20px;
}

.txt-cv p:first-child {
  font-size: 1.1rem;
  font-weight: 600;
}

.txt-cv p:last-child {
  font-size: 0.8rem;
}

/* Header */

.sm-logo {
  display: flex;
  align-items: center;
  float: left;
}

.sm-logo-icono {
  float: left;
  width: 100px;
  padding-right: 10px;
  @media (max-width: $mqMinWidth) {
    width: 90px;
  }
}

.sm-logo-texto {
  width: 250px;
}

.sm-logo-titulo {
  padding-top: 5px;
  font-family: $font-family-title;
  font-size: 2rem;
  text-transform: uppercase;
  @media (max-width: $mqMinWidth) {
    font-size: 1.4rem;
  }
}

.sm-logo-subtitulo {
  padding-top: 3px;
  @media (max-width: $mqMinWidth) {
    padding-top: 0;
  }
}

.menu {
  float: right;
  padding-top: 30px;
  padding-bottom: 10px;
}

.menu-elemento {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: display 2s;
}

/* Menú hamburguesa */

.fa-bars {
  position: absolute;
  top: 20px;
  right: 25px;
  display: none;
  font-size: 2.5rem;
  @media (max-width: $mqMinWidth) {
    display: block;
    float: right;
  }
}

.hamburguesa {
  @media (max-width: $mqMinWidth) {
    position: absolute;
    top: 80px;
    left: -750px;
    z-index: 2;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px 15px 10px;
    line-height: 2;
    text-align: center;
    background-color: #064641;
    transition: 1s ease-in-out;
  }
}

/* Bio */

.sm-foto {
  z-index: 1;
  clip-path: circle(40%);
  @media (max-width: $mqMinWidth) {
    width: 60%;
  }
}

.bio-info {
  display: flex;
  align-items: center;
  line-height: 1.8;
  @media (max-width: $mqMinWidth) {
    display: block;
    line-height: 1.5;
    text-align: center;
  }
}

.bio-contacto {
  padding-right: 30px;
  padding-left: 120px;
  line-height: 3;
  @media (max-width: $mqMinWidth) {
    padding: 25px 0 25px 0;
    font-size: 1rem;
    line-height: 1.7;
    text-align: center;
  }
}

/* Aptitudes */

.modulo-apt {
  justify-content: normal;
  width: 55%;
  @media (max-width: $mqMinWidth) {
    display: flex;
    width: 90%;
  }
}

.apt-listado {
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 2;
  @media (max-width: $mqMinWidth) {
    font-size: 1rem;
  }
}

.circulos {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  transform: scale(0.8);
  @media (max-width: $mqMinWidth) {
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 65px;
    transform: scale(1.05);
  }
}

/* Intereses */

.intereses-circulos {
  @media (max-width: $mqMinWidth) {
    padding-top: 15px;
    transform: scale(1.1);
  }
}

/* Footer */

.redes {
  justify-content: center;
}

.icono-rrss {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
}

.autoria {
  padding-top: 50px;
}
