<footer>
    <div class="modulo-dark-blue">
        <div class="txt-cv">
            <p>Sonia Martí</p>
            <p>Desarrolladora web</p>
            <p>somarsan@uoc.edu</p>
        </div>
        <div>
            <ul class="menu-listado redes txt-cv">
                <li class="icono-rrss">
                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li class="icono-rrss">
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                </li>
                <li class="icono-rrss">
                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </li>
                <li class="icono-rrss">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="txt-cv autoria">
            <p>
                Actividad realizada por Sonia Martí Sánchez para la asignatura
                Herramientas HTML y CSS II
            </p>
        </div>
    </div>
</footer>
