<footer class="bg-dark">
  <div class="contenedor">
    <div class="text-white text-center py-5 lh-1">
      <p>Mish Rock Band</p>
      <p>info@mishrockband.com</p>
      <p>123 456 789</p>
    </div>
    <hr class="border-white m-0">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark my-4 my-md-0">
      <div class="container-fluid flex-column flex-md-row">
        <div>
          <a class="navbar-brand m-0" href="index.html">
            <img src="./assets/images/Logo-grupo-blanco.webp" alt="Logotipo de la web que dirige a la página principal" width="50" height="50" class="d-inline-block align-text-center"> 
          </a>
          <a class="navbar-brand m-0 h2 font-altee" href="index.html">MISH</a>
        </div>  
        <div class="justify-content-center my-3 my-md-0">
          <div class="navbar-nav font-altee">
            <a class="nav-link text-center mx-2" aria-current="page" href="index.html">Inicio</a>
            <a class="nav-link text-center mx-2" href="componentes.html">Componentes</a>
            <a class="nav-link text-center mx-2" href="biografia.html">Biografía</a>
            <a class="nav-link text-center mx-2" href="galeria.html">Galería</a>
          </div>
        </div>
        <ul class="d-flex align-items-center list-unstyled my-4 my-md-0">
          <li class="mx-2">
            <a class="link-light" href=""><i class="fa-brands fa-facebook-f"></i></i></a>
          </li>
          <li class="mx-2">
            <a class="link-light" href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li class="mx-2">
            <a class="link-light" href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </nav>   
  </div>
</footer>
